<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Online Shopping</title>

  <title>Online Shopping</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color: black;">
  {%if request.user.is_authenticated%}
    {% include "ShopApp/customer_navbar.html" %}
  {%else%}
    {% include "ShopApp/navbar.html" %}
  {%endif%}
  <br><br><br>
<h3 style="text-align:center; color: white;">This site is run and owned by Myrel Evangelista, and our physical address is: Duterte Street 5, Brgy.Silanganan, Dumanggas, Iloilo City, Philippines.</h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ShopApp/footer.html" %}
</body>
</html>
